@using btl.Models.ViewModels
@model OrderItiemViewModel
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/orderLayout.cshtml";
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Products</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.OrderItems.Count > 0)
            {
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img src="@item.DuongDanAnh" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">@item.TenSp</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">@item.GiaBan</p>
                        </td>
                        <td>
                            <div class="input-group quantity mt-4" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <a class="fa fa-minus" asp-controller="Order" asp-action="Decrease" asp-route-MaSp="@item.MaSp"></a>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" value="@item.SoLuongb">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <a class="fa fa-plus" asp-controller="Order" asp-action="Increase" asp-route-MaSp="@item.MaSp"></a>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">@Model.OrderItems.Where(x=>x.MaSp == item.MaSp).Sum(x=>x.GiaBan * x.SoLuongb).ToString()</p>
                        </td>
                        <td>
                            <button class="btn btn-md rounded-circle bg-light border mt-4">
                                <a class="fa fa-times text-danger" asp-controller="Order" asp-action="Remove" asp-route-MaSp="@item.MaSp"></a>
                            </button>
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <h4>Your Order is empty</h4>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div class="mt-5">
    <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
</div>
<div class="row g-4 justify-content-end">
    <div class="col-8"></div>
    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
        <div class="bg-light rounded">
            <div class="p-4">
                <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                <div class="d-flex justify-content-between mb-4">
                    <h5 class="mb-0 me-4">Subtotal:</h5>
                    <p class="mb-0">@Model.TongTien.ToString()</p>
                </div>
            </div>
            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
        </div>
    </div>
</div>


