@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/mainCoffeeLayout.cshtml";
}

@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbSanPham>
@foreach(var item in Model)
{
    <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <img src="@item.DuongDanAnh" class="img-fluid w-100 rounded-top" alt="">
            </div>

            @if (@item.IsBanh == false)
            {
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Coffee</div>
            } else
            {
                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Cake</div>
            }

            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4>@item.TenSp</h4>
                <p>@item.MoTa</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    @if (@item.GiaTien % 1000 == 0)
                    {
                        var gt = @item.GiaTien / 1000;
                        <p class="text-dark fs-5 fw-bold mb-0">@gt.000 VNĐ</p>
                    }
                    <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Order</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="col-lg-9">
    <div class="row g-4 justify-content-center">
        <div class="col-12">
            <div class="pagination d-flex justify-content-center mt-5">
                @Html.PagedListPager(Model, page=>Url.Action("Index", new{page=page}))
            </div>
        </div>
    </div>
</div>


