@using X.PagedList.Mvc.Core;
@using btl.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<MaGiamGia>

@{
    ViewData["Title"] = "QLMaGiamGia";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý mã giảm giá</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã giảm giá
            </th>
            <th>
                Số tiền được giảm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienGiam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGg">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGg">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGg">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model, page=>Url.Action("QLMaGiamGia", new{page=page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"}, PageClasses = new List<String> {"page-link"}
    })
</div>
