@using X.PagedList.Mvc.Core;
@using btl.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<NguoiDung>

@{
    ViewData["Title"] = "QLNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý người dùng</h1>


<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Họ
            </th>
            <th>
                Tên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Gmail
            </th>
            <th>
                Loại đăng nhập
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDangNhap)
            </td>
            <td>
                <a asp-action="SuaNguoiDung" asp-route-tenDangNhap="@item.TenDangNhap">Edit</a> |
                <a asp-action="XoaNguoiDung" asp-route-tenDangNhap="@item.TenDangNhap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model, page=>Url.Action("QLNguoiDung", new{page=page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"}, PageClasses = new List<String> {"page-link"}
    })
</div>
